:root {
  --border-width: 1px;
  --bs-secondary-rgb: 197, 198, 204;
  --dark-bg: #191a1f;
  --fixed-header-padding: calc(var(--gutter) + var(--header-height));
  --gray-100: #ffffffb3;
  --gray-200: #c5c6cc;
  --gutter: 1.5rem;
  --header-bg: #0f0f10;
  --header-height: 56px;
  --light-bg: #141519;
  --light: #202227;
  --padding-card: 1.25rem;
}

* {
  box-sizing: border-box;
}

body * {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.9375rem;
}

body {
  background-color: var(--dark-bg);
  margin: 0;
}

header {
  background-color: var(--header-bg);
  height: var(--header-height);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header.fixed-top+main {
  margin-bottom: var(--gutter);
  padding-top: var(--fixed-header-padding);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 96%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.parent-container {
  display: flex;
  flex: wrap;
  min-height: calc(100vh - var(--fixed-header-padding) - var(--gutter));
  padding: 0 calc(var(--gutter) / 2) 0 calc(var(--gutter) / 2);
}

.left-container {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.right-container {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.card {
  background-clip: border-box;
  background-color: var(--light-bg);
  border-radius: 0.25rem;
  border: var(--border-width) solid var(--light);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.card-body {
  background-color: var(--light-bg);
  flex: 1 1 auto;
  padding: var(--padding-card);
}

.card-chat {
  padding: 1px;
}

.card-footer {
  background-color: var(--light-bg);
  border-top: 1px solid var(--light);
  padding: var(--padding-card);
}

.align-items-end {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.align-items-start {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.end-item {
  flex: 1;
  flex-grow: 0;
}

.d-flex-col {
  display: flex;
  flex-direction: column;

  /* to be in another class: */
  overflow-y: scroll;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.message {
  border-radius: 0.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.message-primary {
  background-color: rgb(15, 111, 236);
  color: white;
}

.message-secondary {
  background-color: var(--light);
  color: rgb(197, 198, 204);
}

.timestamp {
  color: rgb(171, 172, 178);
  font-size: 0.875em;
  margin: 0.5rem 0 0.5rem 0;
}

.chat-content {
  overflow-y: scroll;
}

button {
  background-color: var(--light-bg);
  border-radius: 0.25rem;
  border: var(--border-width) solid #313235;
  color: var(--gray-200);
  font-family: Roboto, Helvetica, sans-serif;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--gray-200);
  color: var(--light-bg);
}

button:disabled {
  background-color: var(--light-bg);
  color: #666666;
  cursor: not-allowed;
  opacity: 0.5;
}

i.ws {
  content: url("assets/images/websocket.svg");
  display: inline-block;
  height: 2rem;
}

textarea {
  background-color: var(--dark-bg);
  border-radius: 0.25rem;
  border: var(--border-width) solid #313235;
  color: var(--gray-100);
  display: inline-block;
  flex: 7;
  font-size: 16px;
  line-height: normal;
  max-height: 80px;
  overflow-y: hidden;
  padding: 10px 12px 10px 12px;
  resize: none;
}

textarea:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(236, 236, 241);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 227, .8);
  border-color: rgb(255, 255, 255);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}