:root {
  --body-bg: #191a1f;
  --container-bg: #141519;
  --header-bg: #0f0f10;
}

body * {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: var(--body-bg);
}

button {
  font-family: Roboto, Helvetica, sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

header {
  background-color: var(--header-bg);
  height: 56px;
  display: block;
  position: relative;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header.fixed-top+main {
  padding-top: calc(1.5rem + 56px);
  margin-bottom: 1.5rem;
}